.contactformcontainer {
    height: 300px;
    width: 400px;
    background: linear-gradient(45deg, #f39b69, #e44a4a);
    border-radius: 30px;
    padding: 30px;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(92, 28, 68, 0)
}
.form {
    padding: 40px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px; /* Add a top margin */
    margin-bottom: 10px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
.label {
    margin-left: 1px;
}

input[type=submit] {
    margin-left: 40%;
}